@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.slick-dots li{
  margin: 0 !important;
}

.custom-slider-wrapper {
  width: 100%;
  max-width: 90vw;
}
  .slick-slider{
    width: 90% !important;
    margin: 0 auto;
    overflow-x: hidden;
}